# Searching For Correlation between Air Polutions and Mortality

### Importing necessarily modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl

### Importing Data, previously downloaded from: https://ec.europa.eu/eurostat

In [2]:
# DataFrame from AirPolution CSV
ap_df = pd.read_csv("/Users/patrykdabkowski/Desktop/LifeExpentancy/env_ac_ainah_r2/env_ac_ainah_r2_1_Data.csv", delimiter=",")
ap_df = ap_df[['TIME', 'GEO', 'AIRPOL', 'Value']]
ap_df

,TIME,GEO,AIRPOL,Value
0,2010,European Union - 27 countries (from 2020),Carbon dioxide,2 809 855 835
1,2010,European Union - 27 countries (from 2020),Carbon dioxide,101 646 467
2,2010,European Union - 27 countries (from 2020),Carbon dioxide,30 133 743
3,2010,European Union - 27 countries (from 2020),Carbon dioxide,818 010 355
4,2010,European Union - 27 countries (from 2020),Carbon dioxide,1 127 012 607
...,...,...,...,...
23095,2019,Turkey,Nitrous oxide,:
23096,2019,Turkey,Nitrous oxide,:
23097,2019,Turkey,Nitrous oxide,:
23098,2019,Turkey,Nitrous oxide,:
23099,2019,Turkey,Nitrous oxide,:

### Removing data for all EU

In [3]:
ap_df.drop([x for x in range(133)], inplace = True)
dropindex = ap_df[ ap_df['GEO'] == 'European Union - 28 countries (2013-2020)'].index
ap_df.drop(dropindex, inplace = True)
dropindex = ap_df[ ap_df['GEO'] == 'European Union - 27 countries (from 2020)'].index
ap_df.drop(dropindex, inplace = True)
ap_df['GEO'].unique()

array(['Belgium', 'Bulgaria', 'Czechia', 'Denmark',
       'Germany (until 1990 former territory of the FRG)', 'Estonia',
       'Ireland', 'Greece', 'Spain', 'France', 'Croatia', 'Italy',
       'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Malta',
       'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania',
       'Slovenia', 'Slovakia', 'Finland', 'Sweden', 'Iceland', 'Norway',
       'Switzerland', 'United Kingdom', 'Serbia', 'Turkey'], dtype=object)

### Summing all values for specific data for country in time and polution kind

In [4]:
df = ap_df[['GEO', 'TIME', 'AIRPOL', 'Value']] 
df

           GEO  TIME          AIRPOL       Value
133    Belgium  2010  Carbon dioxide   2 316 656
134    Belgium  2010  Carbon dioxide     662 770
135    Belgium  2010  Carbon dioxide  35 630 974
136    Belgium  2010  Carbon dioxide  21 413 145
137    Belgium  2010  Carbon dioxide   1 118 837
...        ...   ...             ...         ...
23095   Turkey  2019   Nitrous oxide           :
23096   Turkey  2019   Nitrous oxide           :
23097   Turkey  2019   Nitrous oxide           :
23098   Turkey  2019   Nitrous oxide           :
23099   Turkey  2019   Nitrous oxide           :

[21779 rows x 4 columns]

### Removing duplicated data

In [5]:
df = df.drop_duplicates(['GEO', 'TIME', 'AIRPOL', 'Value'])
df.reset_index(inplace = True, drop = True)

### Using 'for' loop to collect and sum information for one year for one airpolution

In [6]:
df_new = pd.DataFrame()
for geo in df['GEO'].unique():
    for time in df['TIME'].unique():
        for airpol in df['AIRPOL'].unique():
            value = df['Value'].loc[(df['GEO'] == geo) & (df['TIME'] == time) & (df['AIRPOL'] == airpol)].sum()
            new_row = {'GEO': geo, 'TIME': str(int(time)), 'AIRPOL': airpol, 'Value': value}
            df_new = df_new.append(new_row, ignore_index=True)
df_new

,GEO,TIME,AIRPOL,Value
0,Belgium,2010,Carbon dioxide,2 316 656662 77035 630 97421 413 1451 118 8372...
1,Belgium,2010,Methane,339 397.12239 526.741 970.723 755.4725 010.336...
2,Belgium,2010,Nitrous oxide,25 327.5614 022.0232.169 096.62332.55518.24101...
3,Belgium,2011,Carbon dioxide,82 547 9912 013 782722 73434 834 42618 448 970...
4,Belgium,2011,Methane,332 022.88237 110.91 924.293 235.2323 250.9164...
...,...,...,...,...
985,Turkey,2018,Methane,2 240 078.291 453 513.58191 359.7124 318.4454 ...
986,Turkey,2018,Nitrous oxide,129 210.295 166.8776.868 464.753 390.0518 463....
987,Turkey,2019,Carbon dioxide,:
988,Turkey,2019,Methane,:
989,Turkey,2019,Nitrous oxide,:

### Pre-analysis for one kind of Air Polution

In [9]:
df_car = df_new.loc[df_new['AIRPOL']== 'Carbon dioxide']
df_car

,GEO,TIME,AIRPOL,Value
0,Belgium,2010,Carbon dioxide,2 316 656662 77035 630 97421 413 1451 118 8372...
3,Belgium,2011,Carbon dioxide,82 547 9912 013 782722 73434 834 42618 448 970...
6,Belgium,2012,Carbon dioxide,79 335 8162 082 705688 77732 489 57818 008 721...
9,Belgium,2013,Carbon dioxide,77 087 7462 162 090616 88032 960 99716 661 878...
12,Belgium,2014,Carbon dioxide,75 000 1542 311 640621 63732 816 24415 737 419...
...,...,...,...,...
975,Turkey,2015,Carbon dioxide,335 644 3329 831 680712 982117 387 486128 422 ...
978,Turkey,2016,Carbon dioxide,353 014 26010 241 104702 628123 556 517136 508...
981,Turkey,2017,Carbon dioxide,367 527 02910 829 615697 225126 351 737147 042...
984,Turkey,2018,Carbon dioxide,364 745 96210 932 820696 613126 242 614151 157...
987,Turkey,2019,Carbon dioxide,: